@inherits Youbiquitous.Renoir.AppBlazor.Models.ViewModelBase
@inject IWebHostEnvironment Environment
@using Youbiquitous.Renoir.Resources

<link rel="stylesheet" href="/css/app-assets/renoir-login.min.css" />

<PageTitle>@Settings.Project.Name</PageTitle>

<div>
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent Context="ex">
            <ErrorReport Icon="fa fa-exclamation-triangle"
                         Exception="@ex"
                         ShowInternals="@(Environment.IsDevelopment())" />
            <button class="btn btn-warning" onclick="Recover">@AppMenu.Resume</button>
        </ErrorContent>
    </ErrorBoundary>
</div>

