@page "/products"
@rendermode InteractiveServer
@using Youbiquitous.Renoir.Resources
@inherits ProductsPage

<link href="/css/app-assets/renoir-grid.min.css" rel="stylesheet" />

<PageTitle>@AppMenu.Products</PageTitle>


<div class="d-flex justify-content-between">
    <div>
        <button class="btn btn-primary" @onclick="NewProductEditor">
            <i class="fa fa-plus opacity-50 me-2"></i>
            <span>@AppMenu.New</span>
        </button>
    </div>
    <div class="fs-4 me-3">
        @AppMenu.Products
    </div>
</div>


<!-- List users -->
<ProductsTable @ref="ListOfProducts" 
               Products="Products"
               ProductEdited="EditExistingProduct"
               OwnerEdited="EditProductOwners" />

<!-- Popup Editor -->
<ProductEditorPopup @ref="ProductEditor" 
                    OnFormPosted="SaveNewOrExistingProduct" />

<!-- Owner Editor -->
<ProductOwnerPopup @ref="OwnerEditor"
                    OnFormPosted="AddUserProductBinding" />

