@page "/users"
@rendermode InteractiveServer
@using Youbiquitous.Renoir.Resources
@using Microsoft.AspNetCore.Authorization
@inherits UsersPage
@attribute [Authorize]


<link href="/css/app-assets/renoir-grid.min.css" rel="stylesheet" />

<PageTitle>@AppMenu.Users</PageTitle>

<div class="d-flex justify-content-between">
    <div>
        <button class="btn btn-primary" @onclick="OpenUserEditor">
            <i class="fa fa-plus opacity-50 me-2"></i>
            <span>@AppMenu.New</span>
        </button>
    </div>
    <div class="fs-4 me-3">
        @AppMenu.Users
    </div>
</div>

<!-- List users -->
<UsersTable @ref="ListOfUsers" 
            Accounts="Accounts"
            UserDeleted="DeleteExistingUser"
            UserEdited="EditExistingUser" />

<!-- Popup Editor -->
<UserEditorPopup @ref="UserEditor" 
                 OnFormPosted="SaveNewOrExistingUser" />

