@using Youbiquitous.Renoir.DomainModel.Management
@using Youbiquitous.Renoir.Resources

<!-- List users -->
<table class="table table-sm table-hover mt-4">
    <thead>
    <tr>
        <th class="col-button"></th>
        <th class="col-index">Id</th>
        <th>Role</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody class="pointer-cursor">
    @foreach (var a in Accounts)
    {
        <tr @onclick="() => Edit(a)">
            <td>
                @if (a.UserId == 1)
                {
                    <span></span>
                }
                else
                {
                    <button class="btn btn-sm btn-danger"
                            @onclick="() => Delete(a)"
                            @onclick:stopPropagation="true">
                        <span class="fa fa-times"></span>
                    </button>
                }
            </td>
            <td class="col-index">@a.UserId</td>
            <td class="col-role">@a.Role</td>
            <td>@a.DisplayName</td>
            <td>@a.Email</td>
        </tr>
    }
    </tbody>
</table>


<ConfirmDialog @ref="Confirmation" />

@code
{
    /// <summary>
    /// Current list of users
    /// </summary>
    [Parameter]
    public IEnumerable<User> Accounts { get; set; }

    [Parameter]
    public EventCallback<User> UserDeleted { get; set; }

    [Parameter]
    public EventCallback<User> UserEdited { get; set; }

    /// <summary>
    /// Reference to the Confirm modal dialog
    /// </summary>
    private ConfirmDialog Confirmation { get; set; }

    /// <summary>
    /// Used to trigger the UserDeleted custom event
    /// </summary>
    /// <param name="a"></param>
    private async Task Delete(User a)
    {
        if (!UserDeleted.HasDelegate)
            return;

        // Ask confirmation
        var options = new ConfirmDialogOptions { IsVerticallyCentered = true };
        var shouldProceed = await Confirmation.ShowAsync(
            title: $"{AppStrings.Label_Deleting} [{a.DisplayName}]",
            message1: AppMessages.Info_ConfirmAction,
            confirmDialogOptions: options);

        if (shouldProceed)
            await UserDeleted.InvokeAsync(a);
    }
    
    /// <summary>
    /// Used to trigger the UserEdited custom event
    /// </summary>
    /// <param name="a"></param>
    private void Edit(User a)
    {
        if (!UserDeleted.HasDelegate)
            return;

        UserEdited.InvokeAsync(a);
    }
}
