@page "/404"
@using Youbiquitous.Renoir.AppBlazor.Components.Layout
@using Youbiquitous.Renoir.Resources
@layout SimpleLayout


<div class="h3 opacity-75">
    @AppMessages.Err_PageNotFound
</div>

@code
{

}
