@page "/denied"
@using Youbiquitous.Renoir.AppBlazor.Components.Layout
@using Youbiquitous.Renoir.Resources
@layout SimpleLayout


<div class="h3 opacity-75 text-danger">
    @AppMessages.Err_AccessDenied
</div>

@code
{

}
