@page "/error"
@using Youbiquitous.Renoir.AppBlazor.Components.Layout
@using Youbiquitous.Renoir.Resources
@using Microsoft.AspNetCore.Diagnostics
@layout SimpleLayout

<div class="h3 opacity-75 text-danger">
    @Message
    <hr/>
</div>

<div>
    @AppMessages.Err_Generic_Description
</div>

@code {
    [CascadingParameter] 
    public HttpContext HttpContext { get; set; }

    /// <summary>
    /// User message
    /// </summary>
    public string Message { get; set; }

    /// <summary>
    /// Initializer
    /// </summary>
    //protected override void OnAfterRender(bool firstRender)
    protected override void OnInitialized()
    {
        // Figure out what happened
        var ex = HttpContext.Features.Get<IExceptionHandlerFeature>();
        if (ex is not null)
        {
            Message = ex.Error.Message;
            return;
        }
            
        ex = HttpContext.Features.Get<IExceptionHandlerPathFeature>();
        if (ex is not null)
        {
            Message = ex.Error.Message;
            return;
        }

        Message = AppMessages.Err_Generic;
    }
}