@page "/"
@inherits HomePage

<PageTitle>Renoir Home</PageTitle>


<div class="p-5">
    <b style="zoom: 1.5;">Project Renoir</b> is a web application built on the 
    latest <b>.NET Core</b> and <b>Blazor</b> stack to demonstrate a <b>clean architecture</b>.
    <hr/>
    <div>
        It is centered around three fundamental business entities: product, release note, and roadmap.
    </div>
    <div class="mb-4">
        According to their role and assigned permissions,
        logged users can:
    </div>
    
    <ol>
        <li>Create and edit products</li>
        <li>Assign contributors to a product</li>
        <li>Create and edit release notes and roadmap</li>
        <li>Navigate the list of available documents (release notes and roadmaps)</li>
        <li>Export and share documents</li>
    </ol>
</div>
