@inherits CopyrightNoteComponent

<div class="app-copyright-container d-flex justify-content-around">
    <div class="text-center mt-4">
        <div class="border-bottom app-copyright-notes">
            <span class="fa fa-copyright"></span>
            @((MarkupString)FirstLine)
        </div>
        <div class="app-copyright-notes">
            @((MarkupString)SecondLine)
        </div>
        
        <div class="mt-3 text-center">
            <a href="https://github.com/youbiquitous/project-renoir/" 
               target="_blank">
                <i class="fab text-white fa-3x fa-github"></i>
            </a>
        </div>
    </div>
</div>

