@inherits CopyrightNoteComponent

<div class="app-copyright-notes">
    <div class="border-bottom">
        <span class="fa fa-copyright"></span>
        @((MarkupString)FirstLine)
    </div>
    <div class="text-center">
        @((MarkupString)SecondLine)
    </div>
</div>

