
.rn-description {
    border: solid 0;
    border-radius: 0;
    border-bottom: solid 1px var(--app-color-dark) !important;
}

.rn-eta {
    border: solid 0;
    border-radius: 0;
    border-bottom: solid 1px var(--app-color-dark) !important;
}

.rn-description::placeholder {
    opacity: 0.7;
    font-style: italic;
}

.rn-eta::placeholder
{
    opacity: 0.7;
    font-size: 0.8rem;
    font-style: italic;
}

.rn-timestamp {
    font-size: .7rem;
    border-top: solid 1px var(--app-color-dark);
    border-bottom: solid 1px var(--app-color-dark);
    padding: 8px;
    padding-bottom: 0;
    background-color: #eeeeff;
    padding-top: 4px;
}

.rn-divider {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 2px;
}

.share-text-reader {
    font-family: monospace;
    white-space: nowrap;
}